/********************************************************************
    Position
 ********************************************************************/

/* Positionning mixin
   $center, $h-center and $v-center allow to automatically center element in the container, on both axis */
@mixin position($type: absolute, $top: auto, $left: auto, $right: auto, $bottom: auto, $h-center: false, $v-center: false, $center: false) {
    position: $type;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;

    @if $center {
        transform: translate(-50%, -50%);
    } @else if $h-center {
        transform: translateX(-50%);
    } @else if $v-center {
        transform: translateY(-50%);
    }
}


/* Create a pseudo-element that covers the entire container (last positionned element). Useful for card links or buttons */
@mixin pseudo-cover($border-radius: 0, $pseudo-element: after) {
    &::#{$pseudo-element} {
        content: "";
        @include position($top: 0, $bottom: 0, $left: 0, $right: 0);
        border-radius:$border-radius;
    }
}