/********************************************************************
    Reset
 ********************************************************************/

/* Resets link styles to remove underlining and default color */
@mixin link-reset($text-color: inherit) {
    color: $text-color;
    text-decoration: none;
}


/* Resets button styles to remove background, border, font styles and dimensions */
@mixin button-reset($text-color: inherit) {
    @include padding-reset;
    @include margin-reset;
    font: inherit;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* Removes lists paddings, margins and bullets */
@mixin list-reset {
    list-style-type: none;
    padding: 0;
    @include margin-reset;
}
