/********************************************************************************
    Restaurant menu image, above the main content
********************************************************************************/

/* Variables, only used in this block */
$image-window-vw-relative: 60vw;
$image-window-vh-relative: 40vh;
$image-window: min($image-window-vw-relative, $image-window-vh-relative); /* Height of the image above de menu content and below the header. On large screens, 40vh is used to avoid having the images taking all the screen, annd on tall screens 60vw is used for the same reasons */

/* Styles */
.banner-image {
    @include dimensions-wide;
    height: $image-window;
    z-index: -1;

    img {
        /* Protects from the image getting to big and overflowing */
        @include dimensions(100%, 100%);
        object-fit: cover;
    }
}