.cta {
    width: 100%;
    padding: $l-space $page-padding $xxl-space;

    background-color: $neutral-light;

    @include flexbox($direction: column, $align-items: center);


    &__title {
        @include h2-style($align: center);
        @include margin-reset;
        margin-bottom: $xs-space;
    }


    &__intro {
        @include text-style($size: $m-font-size, $align: center);
        @include margin-reset;
        margin-bottom: $m-space;
    }
}