.page-footer {
    @include dimensions-wide;
    padding: $s-space $mobile-page-padding $m-space $mobile-page-padding;

    background-color: $neutral-darker;
    @include text-style($color: white);

    &__title {
        @include h2-style($family: $title-font-family, $size: $m-font-size, $weight: normal);
        @include margin-bottom-only($s-space);
    }

    &__link-list {
        @include list-reset();
        @include flexbox($direction: column, $align-items: flex-start, $row-gap: $xxxs-size);

        a {
            @include flexbox($align-items: center, $column-gap: $xxs-size);
            @include link-reset();

            i {
                font-size: $s-font-size;
            }
        }
    }


    @include tablet {
        padding: $m-space $tablet-page-padding $xl-space $tablet-page-padding;

        &__link-list {
            @include flexbox($direction: row, $wrap: wrap, $row-gap: $xxs-size);

            li {
                width: 50%;
            }
        }
    }


    @include desktop {
        padding: $m-space $desktop-page-padding $xl-space $desktop-page-padding;

        &__link-list {
            flex-wrap: nowrap;

            li {
                width: 25%;
            }
        }
    }

}