header {
    width: 100%;
    padding: $page-padding;
    padding-bottom: 10px;

    background-color: white;
    @include dark-shadow();

    position: relative;


    h1 {
        text-align: center;
    }


    a {
        padding: $page-padding;
        font-size: $m-font-size;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}