.location {
    font-size: $base-font-size;
    font-weight: bold;

    width: 100%;
    padding: $xs-space $page-padding;
    margin: 0;

    background-color: $neutral-medium;

    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: $xs-space;
}