.menu-section {
    &__title {
        @include margin-bottom-only($s-space);
        @include text-style($size: $m-font-size);

        /* Create the underlining */
        &::after {
            content: "";
            border-top: solid 3px $tertiary-color;
            width: $l-space;
            margin-top: $xxxs-size;
            display: block;
        }
    }


    &__dish-list {
        @include list-reset;
        @include dimensions-wide;
        margin: auto;
        @include flexbox($direction: column, $align-items: stretch, $row-gap: $xxs-size);
    }
}