.menu-section {
    margin-bottom: $xl-space;

    &__title {
        margin: 0 0 $s-space $page-padding;
        @include text-style($size: $m-font-size);

        /* Create the underlining */
        &::after {
            content: "";
            border-top: solid 3px $tertiary-color;
            width: $l-space;
            margin-top: $xxxs-size;
            display: block;
        }
    }


    &__dish-list {
        @include list-reset;
        @include dimensions($width: 93%);
        margin: auto;
        @include flexbox($direction: column, $align-items: stretch, $row-gap: $xxs-size);
    }
}