/********************************************************************************
    Operating block
********************************************************************************/

.operating {
    padding: $space-700x $mobile-page-padding $space-800x;
    background-color: $neutral-base;


    &__title {
        @include margin-bottom-only;
    }


    &__steps {
        @include list-reset;
        @include flexbox($direction: column, $align-items: flex-end, $row-gap: $space-300x);

        /* Reset list counter to display */
        counter-reset: step-counter;
    }



    /*******************************************************
        Breakpoints
    ********************************************************/

    @include tablet {
        padding: $space-700x $tablet-page-padding $space-800x;

        &__steps {
            @include dimensions($width: 80%);
            margin: auto;
        }
    }


    @include desktop {
        padding: $space-700x $mobile-page-padding $space-800x $mobile-page-padding;

        &__steps {
            @include dimensions-wide;
        }
    }
}