.restaurant-menu {
    margin-top: min(60vw, 40vh);

    padding-top: $m-space;
    padding-bottom: $xxxxl-space;
    background-color: $neutral-light;
    border-radius: $m-space $m-space 0 0;

    @include flexbox($direction: row, $wrap: wrap, $justify-content: center);

    &__image {
        @include position($top: 0, $left: 0);
        z-index: -1;

        img {
            width: 100%;
        }
    }


    &__title {
        @include text-style($family: $title-font-family, $size: $xl-font-size);
        margin: 0 $mobile-page-padding $l-space $mobile-page-padding;
        @include flexbox($justify-content: space-between);
        width: 100%;
    }


    &__section {
        margin-bottom: $xl-space;
        max-width: 500px;
        width: 100%;
    }


    @include tablet {
        padding: $m-space $tablet-page-padding $xxxxl-space;

        &__title {
            margin: 0 0 $l-space;
            justify-content: flex-start;
            column-gap: $m-space;
        }
    }


    @include desktop {
        padding: $m-space $desktop-page-padding $xxxxl-space;
        column-gap: $m-space;

        &__section {
            margin: 0 0 $xl-space;
            width: 30%;
            flex-grow: 1;
        }
    }
}