.restaurant-menu {
    margin-top: 60vw;
    padding-top: $m-space;
    padding-bottom: $xxxxl-space;
    background-color: $neutral-light;
    border-radius: $m-space;

    @include flexbox($direction: column, $align-items: stretch);

    &__image {
        @include position($top: 0, $left: 0);
        z-index: -1;

        img {
            width: 100%;
        }
    }


    &__title {
        @include text-style($family: $title-font-family, $size: $xl-font-size);
        margin: 0 $mobile-page-padding $l-space $mobile-page-padding;
        @include flexbox($justify-content: space-between);
    }


    &__btn {
        align-self: center;
    }
}