.restaurants {
    width: 100%;
    padding: $xxl-space $page-padding $xxxl-space;

    background-color: $neutral-light;

    &__title {
        @include margin-reset;
        margin-bottom: $s-space;
    }


    &__list {
        @include list-reset;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: $s-space;
    }
}