/* Sass modules */
/* Import utils */
/* Fonts */
/* Font sizes */
/* Colors */
/* Sizes */
/* Breakpoints */
/* Include all mixins */
/********************************************************************
    Dimensions
 ********************************************************************/
/* Sets width and height
   If $size is given, creates a square.
   Else, sets up width and height indepedently */
/* Sets element width to 100% */
/* Styles an icon container to be square and rounded, with the icon centered verticaly and horizontaly */
/********************************************************************
    Margins
 ********************************************************************/
/* Removes margins */
/* Sets up margin-bottom */
/********************************************************************
    Paddings
 ********************************************************************/
/* Removes paddings */
/********************************************************************
    Shadows
 ********************************************************************/
/* Creates shadows of different intensities */
/********************************************************************
    Breakpoints
 ********************************************************************/
/* Tablet breakpoint */
/* Desktop breakpoint */
/********************************************************************
    Flexbox
 ********************************************************************/
/* Creates flex container */
/********************************************************************
    Grid
 ********************************************************************/
/* Creates grid container */
/* Modifies grid areas */
/********************************************************************
    Position
 ********************************************************************/
/* Positionning mixin
   $center, $h-center and $v-center allow to automatically center element in the container, on both axis */
/* Create a pseudo-element that covers the entire container (last positionned element). Useful for card links or buttons */
/********************************************************************
    Reset
 ********************************************************************/
/* Resets link styles to remove underlining and default color */
/* Resets button styles to remove background, border, font styles and dimensions */
/* Removes lists paddings, margins and bullets */
/********************************************************************
    Fonts
 ********************************************************************/
/* Styles text */
/* Regular styles for h2 headers */
/********************************************************************
    Text display
 ********************************************************************/
/* Prevents overflow and adds ellipsis */
/********************************************************************
    Effects
 ********************************************************************/
/* Button hover */
/* Fade-up */
/* Import vendors */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Import base styles */
/* All elements have box-sizing: border-box, except those whose property is redefined in the normalize file */
* {
  box-sizing: border-box;
}

/*
    Basic font rules
*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: inherit;
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
  font-family: "Shrikhand", cursive;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
}

/*
    On desktop the content is to short for the footer to reach the bottom of the page. Thus it floats, and leaves a white band beneath it.
    Flexbox is used to solve this problem, allowing the main content to stretch and "push" the footer down.
*/
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* All the keyframes used in the website */
/* The element will rotate 1 full turn */
@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
/* The element will appear with a fading effect while rising */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* Cube rotation */
@keyframes cube-rotation {
  0% {
    transform: none;
  }
  17% {
    transform: rotateX(-90deg);
  }
  34% {
    transform: rotateX(-90deg) rotate(90deg);
  }
  50% {
    transform: rotateX(-90deg) rotate(90deg) rotate(90deg);
  }
  67% {
    transform: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg);
  }
  84% {
    transform: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg) rotateY(90deg);
  }
  100% {
    transform: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg) rotateY(90deg) rotateY(90deg);
  }
}
/* Fade out animation */
@keyframes fade-out {
  from {
    display: block;
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    display: none;
    transform: none;
  }
}
/* Import components */
/********************************************************************************
    Button component
        * Gradient background
        * Rounded corners
        * Shadow
        * Stronger shadow and lighter color on hover
********************************************************************************/
.btn {
  color: inherit;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: 1.15;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  border-radius: calc(32px + 1.15rem);
  /* Calculate the button height using the padding and the line-height */
  background-image: linear-gradient(172deg, #FF79DA 0%, #9356DC 100%);
  /*******************************************************
      Animations
  ********************************************************/
}
.btn:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(172deg, #ff8de0 0%, #a36fe1 100%);
}

/********************************************************************************
    Restaurant card component
        * Shadow
        * Stronger shadow on hover
    New modifier
        * "Nouveau" badge in the top-right corner
********************************************************************************/
/* Variables, specific to that component */
/* Styles */
.restaurant-card {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "img img" "title fav" "location fav";
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: stretch;
  align-items: flex-start;
  row-gap: 0;
  column-gap: 0;
  /* To make the title link cover the entire card */
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  /*******************************************************
      Animations
  ********************************************************/
  /*******************************************************
      Modifiers
  ********************************************************/
  /* New modifier, ta add the "Nouveau" badge */
}
.restaurant-card__img {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
  aspect-ratio: 2/1;
  /* Keeps the image at the same aspect-ratio, whatever the viewport width is. Thus, keeps the restaurant-card correctly proportionned */
  object-fit: cover;
  grid-area: img;
}
.restaurant-card__title {
  margin: 0;
  color: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  padding: 16px 0 8px 16px;
  grid-area: title;
}
.restaurant-card__link {
  color: inherit;
  text-decoration: none;
  /* Make the whole card clicable */
}
.restaurant-card__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 12px;
}
.restaurant-card__location {
  margin: 0;
  color: inherit;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  padding: 0 0 16px 16px;
  grid-area: location;
}
.restaurant-card .fav-btn {
  grid-area: fav;
  padding: 16px;
  margin-right: 16px;
}
.restaurant-card:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.restaurant-card--new::before {
  content: "Nouveau";
  color: #2a947a;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  position: absolute;
  left: auto;
  right: 12px;
  top: 12px;
  bottom: auto;
  background-color: #99E2D0;
  padding: 8px 12px;
  border-radius: 3px;
}

/********************************************************************************
    Step card component
        * Shadow
        * Counter in a buble on the left side. Increments automatically
********************************************************************************/
.step-card {
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  width: calc(100% - 12px);
  height: 90px;
  /* Widht value given for the ::before pseudo-element */
  background-color: whitesmoke;
  border-radius: 24px;
  padding-left: 32px;
  /* $space-300x + half of the ::before pseudo-element */
  padding-right: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0 24px;
  /* For the number placement */
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  /* Increment counter */
  counter-increment: step-counter;
  /* Step number */
  /* Last step styling */
}
.step-card__icon {
  color: #7d7d7d;
}
.step-card::before {
  content: counter(step-counter);
  color: white;
  font-size: 0.75rem;
  font-weight: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 0;
  right: auto;
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
}
.step-card:last-child {
  background-color: rgba(147, 86, 220, 0.1);
}
.step-card:last-child .step-card__icon {
  color: #9356DC;
}

/********************************************************************************
    Dish card component
        * Shadow
        * Icon appears on the right on hover
        * Stronger shadow on hover
********************************************************************************/
/* Variables, specific to that component */
/* Styles */
.dish-card {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 12px;
  min-width: 300px;
  overflow: hidden;
  /* Flexbox */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0 0;
  transition: grid-template-columns 500ms;
  /* To place the title link and the selection icon */
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  /* Margin right transition, to give enough place for the selection icon */
  padding-right: 0;
  transition: padding-right 500ms;
  /*******************************************************
      Animations
  ********************************************************/
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.dish-card__description {
  padding: 12px 8px;
  flex-grow: 1;
  min-width: 0;
}
.dish-card__title {
  color: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
}
.dish-card__title button {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
  /* Make the whole card clicable */
}
.dish-card__title button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 12px;
}
.dish-card__subtitle {
  color: inherit;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish-card__price {
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  margin-right: 12px;
  padding-bottom: 12px;
  align-self: flex-end;
}
.dish-card__selection-icon {
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0 0;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: auto;
  background-color: #99E2D0;
  border-radius: 0 12px 12px 0;
  /* Only left borders */
  overflow: hidden;
  /* Sets up transition on hover */
  transform: translateX(100%);
  transition: transform 500ms;
}
.dish-card:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.dish-card:nth-of-type(1) {
  animation: fade-up 750ms ease-out 150ms both;
}
.dish-card:nth-of-type(2) {
  animation: fade-up 750ms ease-out 300ms both;
}
.dish-card:nth-of-type(3) {
  animation: fade-up 750ms ease-out 450ms both;
}
.dish-card:nth-of-type(4) {
  animation: fade-up 750ms ease-out 600ms both;
}
.dish-card:nth-of-type(5) {
  animation: fade-up 750ms ease-out 750ms both;
}
.dish-card:nth-of-type(6) {
  animation: fade-up 750ms ease-out 900ms both;
}
.dish-card:nth-of-type(7) {
  animation: fade-up 750ms ease-out 1050ms both;
}
.dish-card:nth-of-type(8) {
  animation: fade-up 750ms ease-out 1200ms both;
}
.dish-card:nth-of-type(9) {
  animation: fade-up 750ms ease-out 1350ms both;
}
.dish-card:nth-of-type(10) {
  animation: fade-up 750ms ease-out 1500ms both;
}
.dish-card:hover {
  padding-right: 50px;
}
.dish-card:hover .dish-card__selection-icon {
  transform: none;
}
.dish-card:hover .dish-card__selection-icon i {
  transform: rotate(0turn);
  animation: rotation 500ms;
}
@media (min-width: 992px) {
  .dish-card {
    width: 30%;
    height: auto;
    padding: 0;
    flex-direction: column;
    min-width: 230px;
    max-width: 500px;
    /*******************************************************/
    /* Animations */
  }
  .dish-card__description {
    padding: 16px;
    padding-bottom: 8px;
  }
  .dish-card__title {
    white-space: normal;
    /* Remove ellipsis because we have a vertical layout, and it is okay for the title to wrap in that case */
    margin: 0;
    margin-bottom: 8px;
  }
  .dish-card__subtitle {
    white-space: normal;
    /* Remove ellipsis because we have a vertical layout, and it is okay for the title to wrap in that case */
  }
  .dish-card__price {
    margin-top: 50px;
    margin-bottom: 0;
    transition: margin 500ms;
  }
  .dish-card__selection-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: auto;
    height: 50px;
    border-radius: 0 0 12px 12px;
    /* Only bottom borders */
    /* Sets up transition on hover */
    transform: translateY(100%);
  }
  .dish-card:hover {
    padding-right: 0;
  }
  .dish-card:hover .dish-card__price {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

/********************************************************************************
    Fav button component
        * Heart shape
        * Fills up on hover
********************************************************************************/
.fav-btn {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: min-content;
  height: min-content;
  color: inherit;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  /* To place the gradient heart */
  padding: 10px;
  /* Increase target size for accessibility */
  /* Heart color */
  /*
      The background gradient half-transparent / half-black is cliped onto the icon and only the black part appears. During the transition, the transparent will replace the black color.
  */
  background-image: linear-gradient(0, transparent 0%, transparent 50%, black 50%, black 100%);
  background-size: auto 200%;
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 1s;
  /* Gradient heart */
  /* Hover styles */
}
.fav-btn::after {
  /* Including the heart */
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  /* Heart color */
  /*
  The background gradient half-transparent / half-gradient is cliped onto the icon and only the transparent part appears. During the transition, the gradient will replace the transparency.
  */
  background-image: linear-gradient(0, #FF79DA 0%, #9356DC 50%, transparent 50%, transparent 100%);
  background-size: auto 200%;
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 1s;
  /* Positionning */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0 0;
}
.fav-btn:hover {
  background-position: 0 100%;
}
.fav-btn:hover::after {
  background-position: 0 100%;
}

/********************************************************************************
    Loading-spinner component
        * The spinner has a cube effect
        * An icon on each face
        * The cube rotate in a loop
********************************************************************************/
/* Variables, used only in this class */
/* Styles */
.loading-spinner {
  /* Loader position */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #FFFFFF;
  transform: translate(200%);
  /* Animation: fade-out after 3s */
  animation: fade-out 500ms 3s backwards;
  perspective: 1000px;
}
.loading-spinner__cube {
  position: fixed;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  transform-style: preserve-3d;
  transform-origin: center center -12.5vmin;
  animation: cube-rotation 3s 3;
}
.loading-spinner__cube-face {
  /* Cube face position */
  width: 25vmin;
  height: 25vmin;
  position: fixed;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0 0;
  backface-visibility: hidden;
  /* Cube face initial orientation */
  transform-origin: center center -12.5vmin;
}
.loading-spinner__cube-face img {
  width: 90%;
}
.loading-spinner__cube-face i {
  font-size: 20vmin;
}
.loading-spinner__cube-face:nth-child(1) {
  transform: translate(-50%, -50%);
}
.loading-spinner__cube-face:nth-child(2) {
  transform: translate(-50%, -50%) rotateX(90deg);
}
.loading-spinner__cube-face:nth-child(3) {
  transform: translate(-50%, -50%) rotateX(90deg) rotateY(-90deg);
}
.loading-spinner__cube-face:nth-child(4) {
  transform: translate(-50%, -50%) rotateY(180deg) rotateX(-90deg);
}
.loading-spinner__cube-face:nth-child(5) {
  transform: translate(-50%, -50%) rotateY(180deg);
}
.loading-spinner__cube-face:nth-child(6) {
  transform: translate(-50%, -50%) rotateY(90deg);
}

/* Import layout */
/********************************************************************************
    Header
        * Back arrow to go back to the home page
    Shadow modifier
        * Shadow
********************************************************************************/
.page-header {
  width: 100%;
  height: auto;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  /* For the arrow placement */
  padding: 20px 5.33vw 10px;
  background-color: #FFFFFF;
  /*******************************************************
      Modifiers
  ********************************************************/
  /* Shadow. Adds shadow underneath the header */
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.page-header__title {
  text-align: center;
}
.page-header__back-link {
  color: inherit;
  text-decoration: none;
  position: absolute;
  left: 0;
  right: auto;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  padding: 20px;
  padding-left: 5.33vw;
  font-size: 1.125rem;
}
.page-header--shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .page-header {
    padding: 20px 8vw 10px;
  }
  .page-header__back-link {
    padding-left: 8vw;
  }
}
@media (min-width: 992px) {
  .page-header {
    padding: 20px 5vw 10px;
  }
  .page-header__back-link {
    padding-left: 5vw;
  }
}

/********************************************************************************
    Location block
********************************************************************************/
.location {
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 16px 5.33vw;
  background-color: #ebebeb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
  gap: 0 16px;
}

/********************************************************************************
    Main element from the home page
********************************************************************************/
.home-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0 0;
  /*******************************************************
      Breakpoints
  ********************************************************/
}
@media (min-width: 992px) {
  .home-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 0 0;
  }
  .home-main__cta {
    width: 100%;
    height: auto;
  }
  .home-main__restaurants {
    width: 65%;
    height: auto;
  }
  .home-main__operating {
    width: 35%;
    height: auto;
  }
}

/********************************************************************************
    Call to action block
********************************************************************************/
.cta {
  padding: 40px 5.33vw 56px;
  background-color: whitesmoke;
  /* Grid layout, to adapt the layout for the desktop version */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title" "intro" "btn";
  justify-content: center;
  justify-items: center;
  align-content: stretch;
  align-items: stretch;
  row-gap: 0;
  column-gap: 0;
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.cta__title {
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
  margin-bottom: 16px;
  grid-area: title;
}
.cta__intro {
  color: inherit;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
  margin-bottom: 32px;
  grid-area: intro;
}
.cta__btn {
  grid-area: btn;
  align-self: center;
}
@media (min-width: 768px) {
  .cta {
    padding: 56px 8vw 56px;
  }
}
@media (min-width: 992px) {
  .cta {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "title btn" "intro btn";
    column-gap: 32px;
    padding: 72px 5vw;
  }
  .cta__title {
    margin: 8px 0;
  }
  .cta__intro {
    margin: 16px 0;
  }
}

/********************************************************************************
    Operating block
********************************************************************************/
.operating {
  padding: 56px 5.33vw 64px;
  background-color: #FFFFFF;
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.operating__title {
  margin: 0;
  margin-bottom: 32px;
}
.operating__steps {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  gap: 24px 0;
  /* Reset list counter to display */
  counter-reset: step-counter;
}
@media (min-width: 768px) {
  .operating {
    padding: 56px 8vw 64px;
  }
  .operating__steps {
    width: 80%;
    height: auto;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .operating {
    padding: 56px 5.33vw 64px 5.33vw;
  }
  .operating__steps {
    width: 100%;
    height: auto;
  }
}

/********************************************************************************
    Restaurants list bloc
********************************************************************************/
.restaurants {
  padding: 56px 5.33vw 64px;
  background-color: whitesmoke;
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.restaurants__title {
  margin: 0;
  margin-bottom: 24px;
}
.restaurants__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px 0;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 56px 8vw 64px;
  }
  .restaurants__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    gap: 32px 32px;
  }
  .restaurants__cards {
    width: 45%;
    height: auto;
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .restaurants {
    padding: 56px 5vw 64px 0;
    background-color: #FFFFFF;
  }
}

/********************************************************************************
    Footer block
********************************************************************************/
.page-footer {
  width: 100%;
  height: auto;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  padding: 24px 5.33vw 32px;
  background-color: #363636;
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.page-footer__title {
  color: inherit;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: left;
  font-family: "Shrikhand", cursive;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
  margin-bottom: 24px;
}
.page-footer__link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px 0;
}
.page-footer__link-list a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0 12px;
  color: inherit;
  text-decoration: none;
}
.page-footer__link-list a i {
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 32px 8vw 48px;
  }
  .page-footer__link-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    gap: 12px 0;
  }
  .page-footer__link-list li {
    width: 50%;
    height: auto;
  }
}
@media (min-width: 992px) {
  .page-footer {
    padding: 32px 5vw 48px;
  }
  .page-footer__link-list {
    flex-wrap: nowrap;
  }
  .page-footer__link-list li {
    width: 25%;
    height: auto;
  }
}

/********************************************************************************
    Restaurant menu bloc, main element of the menu pages
        * The image is clipped at the back of the page and shows
          throught the margin
********************************************************************************/
.restaurant-menu {
  margin-top: min(60vw, 40vh);
  /* Large top margin to left the image show throught. Use the function min to control the height */
  padding: 32px 5.33vw 72px;
  background-color: whitesmoke;
  border-radius: 32px 32px 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0 0;
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.restaurant-menu__image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.restaurant-menu__image img {
  /* Protects from the image getting to big and overflowing */
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
.restaurant-menu__title {
  color: inherit;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  font-family: "Shrikhand", cursive;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  gap: 0 0;
}
.restaurant-menu__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0 0;
}
.restaurant-menu__section {
  margin-bottom: 48px;
}
.restaurant-menu__btn {
  align-self: center;
}
@media (min-width: 768px) {
  .restaurant-menu {
    padding: 32px 8vw 72px;
  }
  .restaurant-menu__title {
    margin: 0;
    margin-bottom: 56px;
    justify-content: flex-start;
    column-gap: 32px;
  }
  .restaurant-menu__section {
    padding: 0 8vw;
  }
}
@media (min-width: 992px) {
  .restaurant-menu {
    padding: 32px 5vw 72px;
  }
  .restaurant-menu__section {
    margin-bottom: 64px;
  }
}

/********************************************************************************
    Menu section block
        * Title
        * List of dishes
********************************************************************************/
.menu-section {
  /*******************************************************
      Breakpoints
  ********************************************************/
}
.menu-section__title {
  margin: 0;
  margin-bottom: 24px;
  color: inherit;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-variant: normal;
  font-style: normal;
  line-height: initial;
  /* Creates the underlining */
}
.menu-section__title::after {
  content: "";
  display: block;
  border-top: solid 3px #99E2D0;
  width: 40px;
  height: auto;
  margin-top: 8px;
}
.menu-section__dish-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px 0;
}
@media (min-width: 992px) {
  .menu-section__dish-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    gap: 32px 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
