.btn {
    @include link-reset();
    @include text-style($weight: bold, $align: center, $color: white);

    padding: $xs-space $m-space;
    border-radius: calc($xs-space * 2 + $base-font-size);

    background-image: linear-gradient(172deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    @include shadow();

    &--fav {
        @include dimensions($size: min-content);
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
        background-image: none;
        line-height: 1; /* To display the icons properly */

        @include text-style($size: $xl-font-size);

        @include position($type: relative); /* To place the gradient heart */

        /* Content transition */
        i {
            transition: opacity 0.5s ease-in;
        }


        /* Gradient heart */
        &::after {
            /* Including the heart */
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f004";

            /* Heart color */
            background-image: linear-gradient(172deg,transparent 0%, transparent 50%, rgba(255,121,218,1) 50%, rgba(147,86,220,1) 100%);
            background-size: auto 200%;
            background-position: 0 0;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            /* Positionning */
            @include position($top: 0, $left: 0, $right: 0, $bottom: 0);
            @include flexbox($justify-content: center, $align-items: center);

            transition: background-position 1s;
        }


        /* Hover styles */
        &:hover {
            i {
                opacity: 0;
            }

            &::after {
                background-position: 0 100%;
            }
        }



        /* If animating the background:
            background-image: linear-gradient(172deg,transparent 0%, transparent 50%, rgba(255,121,218,1) 50%, rgba(147,86,220,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            background-size: auto 200%;
            background-position: 0 100%;
            color: transparent;

            position: absolute;
            top: 0;
            left: 0;
            font-size: $xl-font-size;
        */
    }
}