/********************************************************************************
    Dish card component
        * Shadow
        * Icon appears on the right on hover
        * Stronger shadow on hover
********************************************************************************/

/* Variables, specific to that component */
$border-radius: $space-150x;
$transition-timing: 500ms;
$selection-icon-size: 50px;

/* Styles */
.dish-card {
    @include shadow();
    background-color: $neutral-base;
    border-radius: $border-radius;
    min-width: 300px;
    overflow: hidden;


    /* Flexbox */
    @include flexbox($align-items: stretch);
    transition: grid-template-columns $transition-timing;


    /* To place the title link and the selection icon */
    @include position($type: relative);


    /* Margin right transition, to give enough place for the selection icon */
    padding-right: 0;
    transition: padding-right $transition-timing;


    &__description {
        padding: $space-150x $space-base;
        flex-grow: 1;
        min-width: 0;
    }


    &__title {
        @include text-style($size: $m-font-size, $weight: bold);
        @include margin-reset;

        button {
            @include ellipsis;
            background-color: transparent;
            font: inherit;
            border: none;
            padding: 0;
            margin: 0;
            display: block;
            max-width: 100%;

            /* Make the whole card clicable */
            &::after {
                content: "";
                @include position($top: 0, $bottom: 0, $left: 0, $right: 0);
                border-radius:$border-radius;
            }
        }
    }


    &__subtitle {
        @include text-style($size: $base-font-size);
        @include margin-reset;
        @include ellipsis;
    }


    &__price {
        @include text-style($size: $base-font-size, $weight: bold);
        @include margin-reset;
        @include padding-reset;
        margin-right: $space-150x;
        padding-bottom: $space-150x;
        align-self: flex-end;
    }


    &__selection-icon {
        @include text-style($color: $neutral-base, $size: $m-font-size, $weight: bold, $align: center);
        @include flexbox($justify-content: center, $align-items: center);
        @include position($top: 0, $bottom: 0, $right: 0);
        @include dimensions($width: $selection-icon-size);
        background-color: $tertiary-color;
        border-radius: 0 $border-radius $border-radius 0; /* Only left borders */
        overflow: hidden;

        /* Sets up transition on hover */
        transform: translateX(100%);
        transition: transform $transition-timing;
    }



    /*******************************************************
        Animations
    ********************************************************/

    @include button-hover;


    @include fade-up-entry;


    &:hover {
        padding-right: $selection-icon-size;

        .dish-card__selection-icon {
            transform: none;

            i {
                transform: rotate(0turn);
                animation: rotation $transition-timing;
            }
        }
    }



    /*******************************************************
        Breakpoints
    ********************************************************/

    @include desktop {
        @include dimensions($width: 30%);
        @include padding-reset;
        flex-direction: column;
        min-width: 230px;
        max-width: 500px;



        &__description {
            padding: $space-200x;
            padding-bottom: $space-base;
        }


        &__title {
            white-space: normal; /* Remove ellipsis because we have a vertical layout, and it is okay for the title to wrap in that case */
            @include margin-bottom-only($space-base);
        }


        &__subtitle {
            white-space: normal; /* Remove ellipsis because we have a vertical layout, and it is okay for the title to wrap in that case */
        }


        &__price {
            margin-top: $selection-icon-size;
            margin-bottom: 0;
            transition: margin $transition-timing;
        }


        &__selection-icon {
            @include position($left: 0, $bottom: 0, $right: 0);
            @include dimensions($height: $selection-icon-size);
            border-radius: 0 0 $border-radius $border-radius; /* Only bottom borders */

            /* Sets up transition on hover */
            transform: translateY(100%);
        }



        /*******************************************************/
        /* Animations */

        &:hover {
            padding-right: 0;

            .dish-card__price {
                margin-top: 0;
                margin-bottom: $selection-icon-size;
            }
        }
    }

}