/********************************************************************************
    Dish card component
        * Shadow
        * Icon appears on the right on hover
        * Stronger shadow on hover
********************************************************************************/

/* Variables, specific to that component */
$border-radius: $space-150x;

/* Styles */
.dish-card {
    @include shadow();
    background-color: $neutral-base;
    border-radius: $border-radius;
    min-width: 300px;
    overflow: hidden;


    /* Grid layout, to adapt the layout for the desktop version */
    @include grid($template-columns: 1fr repeat(2, auto), $template-rows: auto, $areas: "title price icon", $justify-items: stretch, $align-items: stretch);


    /* To make the title link cover the entire card */
    @include position($type: relative);


    &__description {
        padding: $space-150x $space-base;
        flex-grow: 1;
        min-width: 0;
        grid-area: title;
    }


    &__title {
        @include text-style($size: $m-font-size, $weight: bold);
        @include margin-reset;
        @include ellipsis;

        a {
            @include link-reset;

            /* Make the whole card clicable */
            &::after {
                content: "";
                @include position($top: 0, $bottom: 0, $left: 0, $right: 0);
                border-radius:$border-radius;
            }
        }
    }


    &__subtitle {
        @include text-style($size: $base-font-size);
        @include margin-reset;
        @include ellipsis;
    }


    &__price {
        @include text-style($size: $base-font-size, $weight: bold);
        @include margin-reset;
        @include padding-reset;
        margin-right: $space-150x;
        padding-bottom: $space-150x;
        place-self: end;
        grid-area: price;
    }


    &__selection-icon {
        @include text-style($color: $neutral-base, $size: $m-font-size, $weight: bold, $align: center);
        @include flexbox($justify-content: center, $align-items: center);
        background-color: $tertiary-color;
        border-radius: 0 $border-radius $border-radius 0; /* Only left borders */
        padding: 0 $space-200x;
        overflow: hidden;
        align-self: stretch;
        grid-area: icon;

        /* Sets up transition on hover */
        transform: translateX(100%);
        transition: transform 500ms;
    }



    /*******************************************************
        Animations
    ********************************************************/

    @include button-hover;


    &:hover {
        .dish-card__selection-icon {
            transform: none;

            i {
                transform: rotate(0turn);
                animation: rotation 500ms;
            }
        }
    }



    /*******************************************************
        Breakpoints
    ********************************************************/

    @include desktop {
        @include grid-area($template-columns: 1fr auto, $template-rows: repeat(2, auto), $areas: "title icon""price icon");
        @include dimensions($width: 30%);
        min-width: 230px;
        max-width: 500px;


        &__description {
            padding: $space-200x;
        }


        &__title {
            white-space: normal; /* Remove ellipsis because we have a vertical layout, and it is okay for the title to wrap in that case */
            @include margin-bottom-only($space-base);
        }


        &__subtitle {
            white-space: normal; /* Remove ellipsis because we have a vertical layout, and it is okay for the title to wrap in that case */
        }


        &__price {
            @include margin-reset;
            padding: 0 0 $space-200x $space-200x;
            place-self: end start;
        }


        &__selection-icon {
            justify-self: end;
        }
    }

}