/********************************************************************************
    Loading-spinner component
        * The spinner has a cube effect
        * An icon on each face
        * The cube rotate in a loop
********************************************************************************/

/* Variables, used only in this class */
$cube-size: 25vmin;
$screen-time: 3s;
$fade-out-duration: 750ms;

/* Styles */
.loading-spinner {
    /* Loader position */
    @include position(fixed, 0, 0, 0, 0);
    z-index: 100;
    background-color: $neutral-base;
    transform: translate(200%);


    /* Animation: fade-out after 3s */
    animation: fade-out $fade-out-duration $screen-time backwards;


    perspective: 1000px;


    &__cube {
        @include position(fixed, 50%, 50%);
        transform-style: preserve-3d;
        transform-origin: center center math.div(-$cube-size, 2);
        animation: cube-rotation $screen-time infinite;
    }


    &__cube-face {
        /* Cube face position */
        @include dimensions($size: $cube-size);
        @include position(fixed, 50%, 50%);
        @include flexbox($justify-content: center, $align-items: center);
        backface-visibility: hidden;

        img {
            width: 90%;
        }

        i {
            font-size: $cube-size * 0.8;
        }


        /* Cube face initial orientation */
        transform-origin: center center math.div(-$cube-size, 2);

        &:nth-child(1) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%) rotateX(90deg);
        }

        &:nth-child(3) {
            transform: translate(-50%, -50%) rotateX(90deg) rotateY(-90deg);
        }

        &:nth-child(4) {
            transform: translate(-50%, -50%) rotateY(180deg) rotateX(-90deg);
        }

        &:nth-child(5) {
            transform: translate(-50%, -50%) rotateY(180deg);
        }

        &:nth-child(6) {
            transform: translate(-50%, -50%) rotateY(90deg);
        }
    }
}