/********************************************************************************
    Loading-spinner component
        * The spinner has a cube effect
        * An icon on each face
        * The cube rotate in a loop
********************************************************************************/

.loading-spinner {
    /* Loader position */
    @include position(fixed, 0, 0, 0, 0);
    z-index: 100;
    background-color: $neutral-base;
    transform: translate(200%);


    /* Animation: fade-out after 3s */
    animation: fade-out 500ms 3s backwards;


    perspective: 1000px;


    &__cube {
        @include position(fixed, 50%, 50%);
        transform-style: preserve-3d;
        transform-origin: center center -12.5vmin;
        animation: cube-rotation 3s 3;
    }


    &__cube-face {
        /* Cube face position */
        @include dimensions($size: 25vmin);
        @include position(fixed, 50%, 50%);
        @include flexbox($justify-content: center, $align-items: center);
        backface-visibility: hidden;

        img {
            width: 90%;
        }

        i {
            font-size: 20vmin;
        }


        /* Cube face initial orientation */
        transform-origin: center center -12.5vmin;

        &:nth-child(1) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%) rotateX(90deg);
        }

        &:nth-child(3) {
            transform: translate(-50%, -50%) rotateX(90deg) rotateY(-90deg);
        }

        &:nth-child(4) {
            transform: translate(-50%, -50%) rotateY(180deg) rotateX(-90deg);
        }

        &:nth-child(5) {
            transform: translate(-50%, -50%) rotateY(180deg);
        }

        &:nth-child(6) {
            transform: translate(-50%, -50%) rotateY(90deg);
        }
    }
}