.restaurant-card {
    @include shadow();

    border-radius:$xxs-size;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 46vw auto auto;
    grid-template-areas:
        "img img"
        "title fav"
        "location fav";
    justify-items: start;
    align-items: start;

    /* To make the title link cover the entire card */
    @include position($type: relative);


    &__img {
        border-radius: $xxs-size $xxs-size 0 0;
        @include dimensions($size: 100%);
        object-fit: cover;

        padding-bottom: $xs-space;

        grid-area: img;
    }

    &__title {
        @include margin-reset();
        @include text-style($size: $m-font-size, $weight: bold);

        padding-left: $xs-space;
        padding-bottom: $xxxs-size;

        grid-area: title;
    }

    &__link {
        @include link-reset();

        /* Make the whole card clicable */
        &::after {
            content: "";
            @include position($top: 0, $bottom: 0, $left: 0, $right: 0);
            border-radius:$xxs-size;
        }
    }

    &__location {
        @include margin-reset();
        @include text-style();

        padding-left: $xs-space;
        padding-bottom: $xs-space;

        grid-area: location;
    }

    &__btn {
        grid-area: fav;
    }



    /* Modifiers */
    &--new::before {
        content: "Nouveau";
        @include text-style($weight: bold, $color: color.scale($tertiary-color, $lightness: -50%), $size: $s-font-size);
        @include position($top: $xxs-size, $right: $xxs-size);
        background-color: $tertiary-color;
        padding: $xxxs-size $xxs-size;
        border-radius: 3px;
    }
}