/* All the keyframes used in the website */

/* The element will rotate 1 full turn */
@keyframes rotation {
    to {
        transform: rotate(1turn);
    }
}


/* The element will appear with a fading effect while rising */
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY($space-400x);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


/* Cube rotation */
@keyframes cube-rotation {
    0% {
        transform: none;
    }

    17% {
        transform: rotateX(-90deg);
    }

    34% {
        transform: rotateX(-90deg) rotate(90deg);
    }

    50% {
        transform: rotateX(-90deg) rotate(90deg) rotate(90deg);
    }

    67% {
        transform: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg);
    }

    84% {
        transform: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg) rotateY(90deg);
    }

    100% {
        transform: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg) rotateY(90deg) rotateY(90deg);
    }
}


/* Fade out animation */
@keyframes fade-out {
    from {
        display: block;
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        display: none;
        transform: none;
    }
}