/* All the keyframes used in the website */

/* The element will rotate 1 full turn */
@keyframes rotation {
    to {
        transform: rotate(1turn);
    }
}


/* The element will appear with a fading effect while rising */
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY($space-400x);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


/* Cube rotation */
@keyframes cube-rotation {
    $rotation-length: math.div(100%, 6);
    $transformation-str: none;
    $rotations: rotateX(-90deg) rotate(90deg) rotate(90deg) rotateX(90deg) rotateY(90deg) rotateY(90deg);

    @for $i from 0 through 6 {
        @if $i == 1 {
            $transformation-str: nth($rotations, 1);
        } @else if $i > 1 {
            $transformation-str: $transformation-str #{nth($rotations, $i)};
        }

        #{$rotation-length * $i} {
            transform: $transformation-str;
        }
    }
}


/* Fade out animation */
@keyframes fade-out {
    from {
        display: block;
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        display: none;
        transform: none;
    }
}