body {
    font-family: $text-font-family;
}


h1 {
    font-family: $title-font-family;
    font-size: $xxl-font-size;
    font-weight: normal;
    @include margin-reset;
}


h2 {
    font-size: $xl-font-size;
}