/* Fonts */
$title-font-family: 'Shrikhand', cursive;
$text-font-family: 'Roboto', sans-serif;

/* Font sizes */
$s-font-size: 0.75rem;
$base-font-size: 1rem;
$m-font-size: 1.125rem;
$xl-font-size: 1.5rem;
$xxl-font-size: 2rem;

/* Colors */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral-base: #FFFFFF;
$neutral-light: color.scale($neutral-base, $lightness: -4%);
$neutral-medium: color.scale($neutral-base, $lightness: -8%);
$neutral-dark: color.scale($neutral-base, $lightness: -51%);
$neutral-darker: color.scale($neutral-base, $lightness: -79%);

/* Sizes */
$mobile-page-padding: 5.33vw;
$tablet-page-padding: 8vw;
$desktop-page-padding: 5vw;
$space-base: 8px;
$space-150x: $space-base * 1.5;
$space-200x: $space-base * 2;
$space-300x: $space-base * 3;
$space-400x: $space-base * 4;
$space-500x: $space-base * 5;
$space-600x: $space-base * 6;
$space-700x: $space-base * 7;
$space-800x: $space-base * 8;
$space-900x: $space-base * 9;

/* Breakpoints */
$breakpoints: ("tablet": 768px, "desktop": 992px);