/* Fonts */
$title-font-family: 'Shrikhand', cursive;
$text-font-family: 'Roboto', sans-serif;

/* Font sizes */
$m-font-size: 1.125em;

/* Colors */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/* Sizes */
$page-padding: 20px;