/* Fonts */
$title-font-family: 'Shrikhand', cursive;
$text-font-family: 'Roboto', sans-serif;

/* Font sizes */
$s-font-size: 0.75rem;
$base-font-size: 1rem;
$m-font-size: 1.125rem;
$xl-font-size: 1.5rem;
$xxl-font-size: 2rem;

/* Colors */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral-dark: #7E7E7E;
$neutral-medium: #EAEAEA;
$neutral-light: #F6F6F6;

/* Sizes */
$page-padding: 20px;
$xxs-size: 12px;
$xs-space: 16px;
$s-space: 24px;
$m-space: 32px;
$l-space: 40px;
$xl-space: 48px;
$xxl-space: 54px;
$xxxl-space: 62px;